button{
    font-family: 'Open Sans', sans-serif;
    color:#465c8b;
    background: transparent;
    border:transparent;
    margin:5px;
    cursor:pointer;
    background-repeat: no-repeat;
    font-size:50px;

}
button:hover{
  text-decoration: underline;
}

div.navbar-buttons{
  text-align: center;
  padding: 20px;
  color:white;

}

.intro{
  text-align: center;
  margin-top: 10%;
  padding-bottom: 20px;
}

.img-round{
    height:auto;
    width:200px;
    border-radius: 50%
}

.picture-of-me{
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 30px;
}

nav{
  background-color: green;
}

footer.contact{
  padding:10px;
  color:white;
}

.home{
  text-align: center;
}
/*main{
    text-align: center;
    color: #dc565b;
    font-size: 50px;
}*/
