*{
    background-color:#93c17a 
}
.main-navbar{
    background-color: #dfdce3;
    height: auto;
    padding:5px;
    /*margin-top:5px;*/
    text-align: center;
    width:auto
}


.navbar-buttons{
    background-color: transparent
}

button{
    font-family: 'Open Sans', sans-serif;
    color:#465c8b;
    background: transparent;
    border:transparent;
    margin:5px;
    cursor:pointer;
    background-repeat: no-repeat;
    font-size:50px;
    
}

.last-button{
    border:transparent;
}

<<<<<<< HEAD:css/main.css
.img-round{
    height:auto;
    width:400px;
    border-radius: 50%
}

.picture-of-me{
    margin-top: 70px;
    text-align: center;
}

main{
    text-align: center;
    color: #dc565b;
    font-size: 50px;
=======
.picture-of-me{
    text-align: center;
}

.img-round{
    width:200px;
    height: auto;
    border-radius: 80%;
>>>>>>> 94e8be945a94e3ef57cda71a65082f6563e8a062:css/main.css
}